@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"

.panel-display
  +panel-defaults
  .panel-panel
    min-height: 1px
    width: 100%
    float: none
    display: block
    margin-bottom: 5px
    &.title-container,
    &.presented-by
      float: left
      width: 50%
    &.presented-by
      text-align: right
      clear: none
    

  .no-sidebar
    display: none
    #panels-dnd
      display: block


  // // *******   NOT DESKTOP   ********* // 
  +breakpoint($mobile-device)
    .indent
      margin-top: 20px
    .sidebar
      padding: 10px
  // 
  // // *******     MOBILE     ********* // 
  // +breakpoint($max-phone-p)

  // // *******    LARGE  MOBILE     ********* // 
  // +breakpoint($phone-p $tab-p)
  //   

  // *******     TABLET     ********* // 
  +breakpoint($tab-p-desk)
    .sidebar
      .panel-pane
        width: 100%
        padding-right: 320px
        margin-right: -320px
        float: left
        clear: none
      .panel-pane.ad
        width: 300px
        float: right
        padding-right: 0px
        margin-right: 0px
        z-index: map-get($zindex, content-above)
        position: relative


  // *******     DESKTOP     ********* // 
  +breakpoint($desktop) 

    .with-sidebar
      @include add-grid(1 300px)
      @include sgs-change('output', 'calc')
      .middle
        +grid-span(1, 1)
      .sidebar
        +grid-span(1, 2)
        clear: none


