@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"


.panel-display
  +panel-defaults


  ////////////////////////////////////////////
  // MOBILE Panel Panel
  ////////////////////////////////////////////
  +breakpoint($max-tab-p)
    .panel-panel
      @include add-grid(4)
      //@include grid-background-4
    
    .panel-region-shop-ad,
    .panel-region-banner-ad,
    .banner-ad,
    .shop-ad
      text-align: center

    .panel-region-shop-ad,
    .panel-region-banner-ad,
    .panel-region-lead-photo,
    .panel-region-news-blogs,
    .panel-region-videos,
    .panel-region-photos,
    .panel-region-mailbag,
    .panel-region-content-bottom,
    .panel-region-content-bottom-right
      +grid-span(4, 1)
      clear: left
  ////////////////////////////////////////////
  // TABLET
  ////////////////////////////////////////////
  +breakpoint($tab-p-desk)
    .panel-panel
      @include add-grid(2)
      //@include grid-background-8

    .panel-region-top,
    .panel-region-breaking-news,
    .panel-region-lead-photo
      +grid-span(2, 1)

    .panel-region-photos,
    .panel-region-banner-ad
      +grid-span(1, 2)
      clear: right
      .media-wrap~.media-wrap~.media-wrap~.media-wrap
        display: none

    .panel-region-videos
      +grid-span(2, 1)
      clear: both

    .panel-region-news-blogs
      +grid-span(1, 1)
      clear: right

    .panel-region-mailbag,
    .panel-region-content-bottom
      +grid-span(2, 1)
      clear: both
    .panel-region-content-bottom-right
      +grid-span(2, 1)
      .panel-pane
        @include width-50(0 1%)
      .cowboys-talk,
      .banner-ad
        float: right


  ////////////////////////////////////////////
  // DESKTOP
  ////////////////////////////////////////////
  +breakpoint($desktop)
    .panel-panel
      //@include grid-background-12
      @include add-grid(1 1 300px)
      @include sgs-change('output', 'calc')

      .panel-region-top,
      .panel-region-breaking-news,
      .panel-region-lead-photo
        +grid-span(3, 1)

      .panel-region-lead-photo
        +grid-span(2, 2)

      //.panel-region-shop-ad,
      .panel-region-news-blogs
        +grid-span(1, 1)
        clear: left
    
      .panel-region-photos
        +grid-span(1, 2)
        clear: right

      .panel-region-banner-ad
        +grid-span(1, 3)
        clear: right

      .panel-region-videos
        +grid-span(3, 1)
        clear: left
          
      .panel-region-mailbag,
      .panel-region-content-bottom
        +grid-span(2, 1)
        clear: both
        .panel-pane
          width: 100%

      .panel-region-content-bottom-right
        +grid-span(1, 3)
        position: absolute
        top: 0 
        right: 0
        margin-right: 20px
      #panels-dnd-main &
        .panel-region-content-bottom-right
          margin-right: 0

