@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"

.panel-display
  //+panel-defaults
  .panel-panel
    min-height: 1px
    width: 100%
    float: none
    display: block
    margin-bottom: 5px

    



