@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"

.panel-display
  +panel-defaults

.region-1,
.region-2
  +grid-span(4, 1)
  background: pink
  
.region-3
  +grid-span(8, 5)
  background: green
  
.region-4
  +grid-span(4, 1)
  background: blue
  clear: left