@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"


.panel-display
  +panel-defaults
  .panel-col-top,
  .panel-col-middle,
  .panel-col-bottom,
  .panel-region-teasers,
  .main,
  .panel-region-blurb,
  .panel-region-community,
  .panel-region-content-bottom
    width: 100%
    float: left
    clear: left
  ////////////////////////////////////////////
  // MOBILE Panel Panel
  ////////////////////////////////////////////

  +breakpoint($max-tab-p)
    .panel-panel
      @include add-grid(4)
      //@include grid-background-4
    
    .col-3-row.row-2
      display: none


 
  ////////////////////////////////////////////
  // TABLET
  ////////////////////////////////////////////
  +breakpoint($tab-l-desk)
    .panel-panel
      padding-right: 60px
      
  +breakpoint($tab-p-desk)
    .panel-panel
      @include add-grid(40px 1 300px)
      @include sgs-change('output', 'calc')

      .panel-region-share-icons
        +grid-span(1, 1)
      .panel-region-content-top-col-1
        +grid-span(2, 2)

      .panel-region-content-top-col-2
        +grid-span(2, 2)
        .col-2-row
          width: 50%
          float: left


      .panel-region-community,
      .panel-region-blurb
        +grid-span(1, 2)
        clear: left
        //.panel-pane
        //  padding-right: 20px  

      .panel-region-content-bottom
        +grid-span(2, 2)
        clear: left

      
  ////////////////////////////////////////////
  // DESKTOP
  ////////////////////////////////////////////
  +breakpoint($desktop)
    .panel-panel
      //@include grid-background-12
      @include add-grid(1 300px)
      @include sgs-change('output', 'calc')
      //@include layout($grid, $gutter, $output-style)

    .main
      position: relative

    .panel-region-content-top-col-1
      +grid-span(1, 1)
    .panel-region-content-top-col-2
      +grid-span(1, 2)


    // with social share icons
    &.social-bar
      .panel-panel
        //@include grid-background-12
        @include add-grid(40px 1 300px)
        @include sgs-change('output', 'calc')
        //@include layout($grid, $gutter, $output-style)
      .panel-region-share-icons
        +grid-span(1, 1)
      .panel-region-content-top-col-1
        +grid-span(1, 2)
      .panel-region-content-top-col-2
        +grid-span(1, 3)
    