@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"


.panel-display
  +panel-defaults

  .panel-col-top,
  .panel-col-middle,
  .panel-col-bottom,
  .panel-region-teasers,
  .main,
  .panel-region-community,
  .personnel-details
    width: 100%
    float: left
    clear: left
  .panel-region-content-bottom
    width: 100%
  //.panel-region-sticky-menu,
  .personnel-details
    margin-top: 20px

  ////////////////////////////////////////////
  // MOBILE Panel Panel
  ////////////////////////////////////////////

  +breakpoint($max-tab-p)
    .panel-panel
      @include add-grid(4)
      //@include grid-background-4
    
    .col-3-row.row-2
      display: none

  ////////////////////////////////////////////
  // TABLET
  ////////////////////////////////////////////
  +breakpoint($tab-l-desk)
    .panel-panel
      //padding-right: 60px
      
  +breakpoint($tab-p-desk)
    .panel-panel
      @include add-grid(40px 1 300px)
      @include sgs-change('output', 'calc')
        
      .panel-region-share-icons
        +grid-span(1, 1)
      .panel-region-content-top-col-1
        +grid-span(1, 2)

      .panel-region-player-main
        +grid-span(2, 2)
        padding: 10px
        .panel-region-content-top-col-1,
        .panel-region-content-top-col-2
          width: 49%
          float: left
        .panel-region-content-top-col-1
          margin: 0 2% 0 0
        .col-2-row
          float: left
          clear: left
          width: 100%
      .panel-region-content-top-col-3
        +grid-span(1, 3)
        clear: both

      .panel-region-community,
      .panel-region-blurb
        +grid-span(1, 2)
        clear: left
        //.panel-pane
        //  padding-right: 20px  

      .panel-region-content-bottom
        +grid-span(3, 1)
        clear: left


  ////////////////////////////////////////////
  // DESKTOP
  ////////////////////////////////////////////
  +breakpoint($desktop)
    .panel-panel
      //@include grid-background-12
      @include add-grid(40px 1 1 300px)
      @include sgs-change('output', 'calc')
      //@include layout($grid, $gutter, $output-style)
      
    .main
      position: relative
    .panel-region-share-icons
      +grid-span(1, 1)
    .panel-region-player-main
      +grid-span(2, 2)
      padding: 10px
      .panel-pane
        margin-bottom: 0

    .panel-region-content-top-col-1,
    .panel-region-content-top-col-2
      width: 49%
      float: left
    .panel-region-content-top-col-1
      margin-right: 2%
    .col-2-row
      float: left
      clear: left
      width: 100%
    .col-3-row
      +grid-span(1, 4)
      clear: right

    .panel-region-blurb
      +grid-span(2, 2)
      clear: left

    // with social share icons
    &.social-bar
      .panel-panel
        //@include grid-background-12
        @include add-grid(40px 1 300px)
        @include sgs-change('output', 'calc')
        //@include layout($grid, $gutter, $output-style)
      .panel-region-share-icons
        +grid-span(1, 1)
      .panel-region-content-top-col-1
        +grid-span(1, 2)
      .panel-region-content-top-col-2
        +grid-span(1, 3)

