@import "../../../base_utilities"
$breakpoint-no-query-fallbacks: '.lt-ie9' !global


.footer.mini-panel-display
  @include add-grid(12)
  overflow: hidden
  .panel-region
    margin-bottom: 20px
  .footer-team-copyright-region .panel-region
    margin-bottom: 0
  +breakpoint($print-media)
    display: none
    
  // Expand footer outside of margin on phone size
  //+breakpoint($max-phone-l)
    //margin: 0 -10px

  .footer-toggle-region,
  .footer-team-toggle-region
    width: 100%
    padding: 0
    margin: 0

  .footer-team
    position: relative
    width: 100%
    float: left
    clear: left
    padding: 0
    .footer-team-inner
      padding: 20px 20px 60px 20px
    .footer-team-copyright-region
      position: absolute
      padding: 20px
      bottom: 0
      #panels-dnd-main &
        position: relative

  .footer-main
    width: 100%
    float: left
    clear: left
    .footer-nfl
      width: 95%
      margin: 0 auto
      padding: 65px 0 0 0
      .footer-nfl-inner
        padding: 0 0 10px 0

  .nfl-teams-american-inner,
  .nfl-teams-national-inner
    width: 100%
    padding: 1px 0 0 0
    .panel-pane
      margin: 15% 0 0 0

  // *******     MOBILE     ********* //
  +breakpoint($max-tab-p)

    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4,
    .nfl-links
      +grid-span(12, 1)
    .nfl-teams-american
      +grid-span(6, 1)
      padding-right: 0
      clear: right
      width: 48%
    .nfl-teams-national
      +grid-span(6, 7)
      width: 48%

    .footer-nfl-inner,
    .footer-team-inner
      display: none

      #panels-dnd-main &
        display: block

    .footer-toggle-region,
    .footer-team-toggle-region
      display: block

    .nfl-teams-american-inner,
    .nfl-teams-national-inner
      padding: 30px 0 0 0

    .nfl-links
      ul.menu
        padding: 0


  // ******* TABLET  ********* //
  +breakpoint($tab-p-desk)

    .footer-col-1
      +grid-span(3, 1)
    .footer-col-2
      +grid-span(3, 4)
    .footer-col-3
      +grid-span(3, 7)
    .footer-col-4
      +grid-span(3, 10)

    .footer-nfl-inner,
    .footer-team-inner
      display: block

    .footer-toggle-region,
    .footer-team-toggle-region
      display: none
      #panels-dnd-main &
        display: block

    .nfl-links
      +grid-span(12, 1)
    .nfl-teams-american
      +grid-span(6, 1)
      padding-right: 0
      clear: both
      width: 49%
    .nfl-teams-national
      +grid-span(6, 7)
      width: 49%

    .nfl-teams-american-inner,
    .nfl-teams-national-inner
      padding: 30px 0 0 0

  // ******* DESKTOP  ********* //
  +breakpoint($desktop)

    .footer-col-1
      +grid-span(3, 1)
    .footer-col-2
      +grid-span(3, 4)
    .footer-col-3
      +grid-span(3, 7)
    .footer-col-4
      +grid-span(3, 10)

    .nfl-links
      +grid-span(12, 1)
    .nfl-teams-american
      +grid-span(6, 1)
      padding-right: 0
      clear: right
      width: 49%
    .nfl-teams-national
      +grid-span(6, 7)
      width: 49%

    .footer-toggle-region,
    .footer-team-toggle-region
      display: none
      #panels-dnd-main &
        display: block

    .footer-nfl-inner,
    .footer-team-inner
      display: block
