@mixin panel-defaults
  $breakpoint-no-query-fallbacks: '.lt-ie9' !global
  @include add-gutter(12px)
  @include add-gutter-style('fixed')
  padding: 0
  position: relative
  +page-max-width 
  #panels-dnd-main &
    overflow: visible
  
  .panel-panel.panel-col-top
    margin-bottom: 0
    +breakpoint($mobile-device)
      //height: 50px  // this doesnt work on articles/chevelle

  .panel-col-top,
  .panel-col-middle,
  .panel-col-bottom  
    float: left
    clear: both

  .panel-col-middle,
  .panel-col-middle-bottom
    float: left
    clear: both
    .panel-pane 
      margin-bottom: 15px

    .panel-pane.float-none  
      float: none
      
  .inside,    
  .indent
    +content-area-padding
    +clearfix

  .panel-panel
    position: relative
    float: left
    clear: left
    width: 100%

