// CSS for modal window 
#classy-panel-styles-pane-form,
#panels-edit-style-settings-form 
  .form-type-select,
    width: 100%
  .form-item
    margin-bottom: 5px
    float: left
    clear: both
    width: 100%

  .form-item label 
    width: 20%
    float: left
    clear: both
    font-size: 15px
    text-align: right
    color: #007FBF
    padding: 0
    margin: 5px 2% 2px 0
    font-weight: bold
    line-height: 1.1

  input.form-autocomplete,
  input.form-text,
  input.form-file,
  textarea.form-textarea, 
  select.form-select 
    padding: 0 5px
    border: 1px solid #DDD
    background-color: #FFF
    background-position: 99% 50%
    color: #333
    font-size: 14px
    margin: 0
    width: 75%
    clear: right

  .grippie
    max-width: 75%
    float: left
    margin-left: 22%
    width: 100%
    margin-bottom: 10px

  .description
    float: right
    clear: right
    text-align: left
    padding: 0
    margin: 7px 2% 15px 0
    font-weight: normal
    line-height: 1.1
    width: 76%
    color: #555
    font-size: 13px

////////////////////////////////////
// Styles for admin interface

.panels-dnd 
  .panel-pane
    width: 100% // set default width to 100%

#panels-dnd-main 
  // ****************************
  // ****  CTOOLS 
  div.panel-region .pane-add-link
    margin: 0
    a.ctools-dropdown-image-link
      background: url("../images/gear.png")
      background-size: contain
      width: 25px
      height: 25px
  .ctools-dropdown .ctools-dropdown-container ul
    line-height: 1.3
  .changed .grabber,
  .ajax-changed .grabber
    @extend %changed !optional
  .hidden .grabber
    @extend %disabled !optional
  // ****************************
  // ****  CLEARFIX  
  .panel-region,  
  .container-inner,
  .column-content-region
    &:after
      content: "."
      font-size: 0
      clear: both 
  // ****************************
  // ****  PANEL DISPLAY
  .panel-panel .inside
    +clearfix

  .panel-display
    @include background-grid
    padding-right: 1% 
    +clearfix
    // to compensate for the offset grid bg colors
  .container-inner.grid-12
    float: left
    width: 100%

  // ****************************
  // ****  PANEL REGION
  .panel-panel .inside
    +clearfix
    background: #EBEBEB
    border: 1px dashed #ddd
    margin: 0 0 5px 0
    padding: 6px 0

  .panel-panel .panel-region
    +clearfix
    background: white
    padding: 2px
    overflow: visible
    float: left
    width: 100%
    line-height: 0
  
    h2.label
      line-height: 1.5
      font-size: 1.3em
      color: black
    .panel-pane
      line-height: 1.2
      //max-width: 98%
      //margin: 1% !important
    .panel-portlet.changed
      width: 100%
  // ****************************
  // ****  PANEL PANE    
  .panel-pane
    +box-sizing(border-box)
    padding: 0
    margin: 0
    position: relative
    //float: none !important
    .pane-content
      margin: 0 10px
      position: relative



///////////////////////////////////
// IPE
///////////////////////////////////
$ipe-color: #FC8F05 
.panels-ipe-editing .panels-ipe-region  
  border: $ipe-color dotted 2px

div.panels-ipe-placeholder 
  background: none
  border: none
  margin-top: 2px
  h3   
    font-size: 20px    
    margin: 0.154em 0 
    color: $ipe-color

div.panels-ipe-newblock 
  +box-shadow(0)

.panels-ipe-linkbar.links--inline li 
  margin-right: 0em


div.panels-ipe-draghandle,
div.panels-ipe-nodraghandle 
  padding: 4px 7px
