@import "../../../base_utilities"
@import "../panels_admin"
@import "../panels_global"


.panel-display
  +panel-defaults

  [class*=content-row]
    clear: left
  ////////////////////////////////////////////
  // MOBILE Panel Panel
  ////////////////////////////////////////////
  +breakpoint($max-tab-p)
    max-width: 550px
    margin: 0 auto
    .panel-panel
      @include add-grid(4)
      //@include grid-background-4
    
    .panel-region-top,
    .panel-region-content-bottom,
    .panel-region-content,
    .panel-region-sidebar
      +grid-span(4, 1)
      clear: left
  ////////////////////////////////////////////
  // TABLET
  ////////////////////////////////////////////
  +breakpoint($tab-p-desk)
    .panel-panel
      @include add-grid(8)
      //@include grid-background-8

    .panel-region-top,
    .panel-region-content-bottom
      +grid-span(8, 1)
      clear: left
    //banner ad
    .panel-region-content
      +grid-span(4, 1)
      clear: left
    
    .panel-region-sidebar
      +grid-span(4, 5)
      

  ////////////////////////////////////////////
  // DESKTOP
  ////////////////////////////////////////////
  +breakpoint($desktop)
    .panel-panel
      //@include grid-background-12
      @include add-grid(12)
      //@include layout($grid, $gutter, $output-style)

    .panel-region-top,
    .panel-region-content-bottom
      +grid-span(12, 1)
      clear: left

    .panel-region-content
      +grid-span(8, 1)
      clear: left

    
    .panel-region-sidebar
      +grid-span(4, 9)

