@mixin mobile-admin-menu-positioning($admin-nav: 0)
  position: fixed
  top: (0 + $admin-nav)
  .navbar-administration &
    top: (40px + $admin-nav)
  .navbar-tray-open.navbar-horizontal &
    top: (80px + $admin-nav)
  .responsive-preview-frame &
    top: (0 + $admin-nav) !important