$form-element-height: 40px

%input_tiny 
  width: 50px

%input_small 
  width: 100px

%input_medium 
  width: 150px

%input_large 
  width: 200px

%input_xlarge 
  width: 250px

%input_xxlarge 
  width: 300px

%input_full 
  width: 100%

%input_full_wrap 
  display: block
  padding-right: 8px

